@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&family=Matemasie&family=Nerko+One&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  font-family: Lora;
}
.nerko-one-regular {
  font-family: "Nerko One", cursive;
  font-weight: 400;
  font-style: normal;
}


.drawer-side a.active {
    color: white;
  }
  .drawer-side a {
    background-color: transparent;
  }